<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.teamproject.mapper.Fac_admin_Mapper">
	
	<!-- insertList -->
	<insert id="insertFile">
		<selectKey resultType="int" keyProperty="finfo_no" order="BEFORE">
			select finfo3_seq.nextval from dual
		</selectKey>
		insert into finfo3 values(
		#{finfo_no},#{fm_id},#{finfo_name},#{finfo_sport},#{finfo_add1},
		#{finfo_price},#{finfo_people},#{finfo_detail},
		#{finfo_pic1},#{finfo_pic2},#{finfo_pic3},#{finfo_pic4},#{finfo_pic5})
	</insert>
	
	
	<!-- selectAllList -->
	<select id="selectAllList" resultType="com.example.teamproject.vo.Fac_admin_Vo">
		select * from finfo3
	</select>
	
	<!-- modify -->
	<update id="updateOneList">
		update finfo3 set finfo_no=#{finfo_no},finfo_name=#{finfo_name},finfo_sport=#{finfo_sport},
		       finfo_add1=#{finfo_add1},finfo_price=#{finfo_price},finfo_people=#{finfo_people},
		       finfo_detail=#{finfo_detail},finfo_pic1=#{finfo_pic1},finfo_pic2=#{finfo_pic2},
		       finfo_pic3=#{finfo_pic3},finfo_pic4=#{finfo_pic4},finfo_pic5=#{finfo_pic5}
		where finfo_no=#{finfo_no}
	</update>

	<!-- delete -->
	<update id="deleteOneList">
		delete finfo3 where finfo_no =#{finfo_no}
	</update>
	
    <!-- //게시글 전체리스트 -->
	<select id="selectOneList" resultType="com.example.teamproject.vo.Fac_admin_Vo">
		select * from finfo3 where finfo_no= #{finfo_no}
	</select>
	
	<!-- 예약페이지에 있는 뷰 -->
	<select id="selectOneView" resultType="com.example.teamproject.vo.Fac_admin_Vo">
		select * from finfo3 where finfo_no= #{finfo_no}
	</select>
	
	<insert id="insertReserve">
		insert into fac_important values(
		#{finfo_no},#{finfo_name},#{r_number1},
		#{r_date},sysdate,#{r_times},#{finfo_price},#{check_value})
	</insert>
	
	<select id="selectAllReserveList" resultType="com.example.teamproject.vo.Fac_important_Vo">
		select * from fac_important
	</select>
	
	<delete id="reserveDelete">
		delete fac_important where finfo_no = #{finfo_no}
	</delete>
	
	
</mapper>